<!DOCTYPE html>
<html>
  <head>
    <title><%%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%%= stylesheet_link_tag "<%= file_name %>" %>
    <%%= javascript_include_tag :defaults %>
    <%%= csrf_meta_tag %>
    <%%= yield(:head) %>
  </head>
  <body id="<%= file_name %>">
    <div id="main_container" class="main-container">
      <%% if flash.any? then %>
        <div class="general-container notice hidden">
          <%% flash.each do |name, msg| %>
            <%%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%% end %>
        </div>
      <%% end %>
      <%%= content_tag :h1, yield(:title) if show_title? %>
      <div class="container-<%%= params[:controller] + '-' + params[:action] %>">
        <%%= yield %> 
      </div> <!-- end container-<%%= params[:controller] + '-' + params[:action] %> -->
    </div> <!-- end main-container -->
  </body>
</html>
